body {
	color: white;
	background-color: black;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
h1{
	color: cyan;
}

#am{
	text-decoration: underline;
}

.titre2{
	font-style: italic;
}

.u{
	text-decoration: underline;
}

p strong {
	color: red;
	font-weight: bolder;
}
#pac{
	margin:auto;
	width: 600px;
}

ul.menu{
	display: table;
}
.menu li{
	display:table-cell;
}